body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

.legend {
  font-family: Sanchez, serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  color: #555;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.legend-item {
  margin-bottom: 5px;
}

.legend-color {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 10px;
  border-radius: 50%;
}

/* Define colors for different categories */
.legend .darkred { background-color: black; }
.legend .purple { background-color: purple; }
.legend .blue { background-color: red; }
.legend .orange { background-color: orange; }
.legend .lightpink { background-color: lightpink; }
